{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h1 class="text-center">Sign up</h1>
            <form method="post" action="{% url 'register' %}" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            {% if messages %}
                <div class="container mt-3">
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
